# Gradle
.gradle/

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Module files
*.iml

# Build outputs
/build/
/app/build/

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# macOS
.DS_Store
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/AndroidProjectSystem.xml
.idea/compiler.xml
.idea/planningMode.xml
.idea/runConfigurations.xml
.idea/inspectionProfiles/Project_Default.xml
